
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Change basic enquiry form | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "19800";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-enquiryforms model-basicenquiryform change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">AEON tutorials <h2>Enquiry Form</h2></a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Welcome,
                <strong>admin</strong>.
            
            
                
                    <a href="/">View site</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/enquiryforms/">Enquiryforms</a>
&rsaquo; <a href="/admin/enquiryforms/basicenquiryform/">Basic enquiry forms</a>
&rsaquo; Pankaj - Rai - 9322745858
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Change basic enquiry form</h1>
        <div id="content-main">


  <ul class="object-tools">
    
    <li>
        
        <a href="/admin/enquiryforms/basicenquiryform/1/history/" class="historylink">History</a>
    </li>
    
    
  </ul>
  <h2>this is a dummy dummy text in h2 </h2>


<form enctype="multipart/form-data" action="" method="post" id="basicenquiryform_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='uqHADKUKBVggNtWq8ku7PgCzyMn83RNZ' />
<div>







  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-enq_date">
            
            
                <div>
                    
                    
                        <label class="required" for="id_enq_date_0">Date published:</label>
                        
                            <p class="datetime">Date: <input class="vDateField" id="id_enq_date_0" name="enq_date_0" size="10" type="text" value="2015-04-30" /><br />Time: <input class="vTimeField" id="id_enq_date_1" name="enq_date_1" size="8" type="text" value="08:10:24" /></p>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-career_choice">
            
            
                <div>
                    
                    
                        <label class="required" for="id_career_choice">Career choice:</label>
                        
                            <input class="vTextField" id="id_career_choice" maxlength="20" name="career_choice" type="text" value="Engineering" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-student_fname">
            
            
                <div>
                    
                    
                        <label class="required" for="id_student_fname">Student fname:</label>
                        
                            <input class="vTextField" id="id_student_fname" maxlength="50" name="student_fname" type="text" value="Pankaj" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-student_mname">
            
            
                <div>
                    
                    
                        <label class="required" for="id_student_mname">Student mname:</label>
                        
                            <input class="vTextField" id="id_student_mname" maxlength="50" name="student_mname" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-student_lname">
            
            
                <div>
                    
                    
                        <label class="required" for="id_student_lname">Student lname:</label>
                        
                            <input class="vTextField" id="id_student_lname" maxlength="50" name="student_lname" type="text" value="Rai" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-contact_no_primary">
            
            
                <div>
                    
                    
                        <label class="required" for="id_contact_no_primary">Contact no primary:</label>
                        
                            <input class="vTextField" id="id_contact_no_primary" maxlength="10" name="contact_no_primary" type="text" value="9322745858" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-contact_no_home">
            
            
                <div>
                    
                    
                        <label class="required" for="id_contact_no_home">Contact no home:</label>
                        
                            <input class="vTextField" id="id_contact_no_home" maxlength="10" name="contact_no_home" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-contact_email">
            
            
                <div>
                    
                    
                        <label class="required" for="id_contact_email">Contact email:</label>
                        
                            <input class="vTextField" id="id_contact_email" maxlength="100" name="contact_email" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-address_home">
            
            
                <div>
                    
                    
                        <label class="required" for="id_address_home">Address home:</label>
                        
                            <input class="vTextField" id="id_address_home" maxlength="1000" name="address_home" type="text" value="B1-101" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-father_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_father_name">Father name:</label>
                        
                            <input class="vTextField" id="id_father_name" maxlength="200" name="father_name" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-father_contact_primary">
            
            
                <div>
                    
                    
                        <label class="required" for="id_father_contact_primary">Father contact primary:</label>
                        
                            <input class="vTextField" id="id_father_contact_primary" maxlength="10" name="father_contact_primary" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-father_contact_home">
            
            
                <div>
                    
                    
                        <label class="required" for="id_father_contact_home">Father contact home:</label>
                        
                            <input class="vTextField" id="id_father_contact_home" maxlength="10" name="father_contact_home" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ssc_school">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ssc_school">Ssc school:</label>
                        
                            <input class="vTextField" id="id_ssc_school" maxlength="100" name="ssc_school" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ssc_classes">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ssc_classes">Ssc classes:</label>
                        
                            <input class="vTextField" id="id_ssc_classes" maxlength="100" name="ssc_classes" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ssc_science">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ssc_science">Ssc science:</label>
                        
                            <input class="vTextField" id="id_ssc_science" maxlength="6" name="ssc_science" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ssc_maths">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ssc_maths">Ssc maths:</label>
                        
                            <input class="vTextField" id="id_ssc_maths" maxlength="6" name="ssc_maths" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ssc_aggregate">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ssc_aggregate">Ssc aggregate:</label>
                        
                            <input class="vTextField" id="id_ssc_aggregate" maxlength="6" name="ssc_aggregate" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ssc_percent">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ssc_percent">Ssc percent:</label>
                        
                            <input class="vTextField" id="id_ssc_percent" maxlength="6" name="ssc_percent" type="text" />
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />

    
    <p class="deletelink-box"><a href="/admin/enquiryforms/basicenquiryform/1/delete/" class="deletelink">Delete</a></p>


<input type="submit" value="Save and add another" name="_addanother" />
<input type="submit" value="Save and continue editing" name="_continue" />
</div>



    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });
                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:lookup-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showRelatedObjectLookupPopup(this);
                    }
                });
                $('body').on('click', '.related-widget-wrapper-link', function(e) {
                    e.preventDefault();
                    if (this.href) {
                        var event = $.Event('django:show-related', {href: this.href});
                        $(this).trigger(event);
                        if (!event.isDefaultPrevented()) {
                            showRelatedObjectPopup(this);
                        }
                    }
                });
                $('body').on('change', '.related-widget-wrapper select', function(e) {
                    var event = $.Event('django:update-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        updateRelatedObjectLinks(this);
                    }
                });
                $('.related-widget-wrapper select').trigger('change');

            
            });
        })(django.jQuery);
    </script>




<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
